<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show c-sidebar-unfoldable" id="sidebar">
  <div class="c-sidebar-brand d-md-down-none">
    <h4 class="c-sidebar-brand-full fade-in">
      <span class="text-danger">ꜱʜᴏᴘꜰʟᴏᴏʀ</span> <span class="text-white">ʀᴇᴘᴏʀᴛɪɴɢ</span>
    </h4>
    <h4 class="c-sidebar-brand-minimized fade-in"><span class="text-danger">ꜱꜰʀ</span></h4>
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/transaction/0"><i class="c-sidebar-nav-icon c-icon c-icon-lg cil-globe-alt"></i> Transaction</a></li>
    <li class="c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-dropdown-toggle" href="#">
        <i class="c-sidebar-nav-icon c-icon c-icon-lg cil-layers"></i> Master
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/wc_master/">Work Center</a></li>
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/emp_master/">Employee</a></li>
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">ETC</a>
          <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/rej_master/">Rejected Reason</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/matg_master/">Material Group</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/purg_master/">Purchase Group</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/curr_master/">Currency</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-dropdown-toggle" href="#">
        <i class="c-sidebar-nav-icon c-icon c-icon-lg cil-monitor"></i> Monitoring
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/working_order/">Working Production Order</a></li>
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/working_wc/">Working Work Center</a></li>
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/working_emp/">Working Operator</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-dropdown-toggle" href="#">
        <i class="c-sidebar-nav-icon c-icon c-icon-lg cil-bar-chart"></i> Report
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/lot_traveller/0">Partial Lot Traveller</a></li>
      </ul>
    </li>
    <li class="c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-dropdown-toggle" href="#">
        <i class="c-sidebar-nav-icon c-icon c-icon-lg cib-sap"></i> SAP
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#"><i class="c-icon c-icon-sm cil-data-transfer-down text-info"></i>&nbsp;Data from SAP</a>
          <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/sap_order/TODAY&NOW">Order</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/sap_routing/TODAY&NOW">Routing</a></li>
          </ul>
        </li>
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#"><i class="c-icon c-icon-sm cil-data-transfer-up text-info"></i>&nbsp;Data to SAP</a>
          <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/sap_report/TODAY&NOW">Report</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/sap_mod/TODAY&NOW">Modifier</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-sidebar-nav-dropdown">
      <a class="c-sidebar-nav-dropdown-toggle" href="#">
        <i class="c-sidebar-nav-icon c-icon c-icon-lg cil-equalizer"></i> Admin Panel
      </a>
      <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item "><a class="c-sidebar-nav-link" href="/user_control/">User Control</a></li>
      </ul>
    </li>
    <!-- <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/blank/"><i class="c-sidebar-nav-icon c-icon c-icon-lg cil-border-clear"></i> Blank</a></li> -->
    <li class="c-sidebar-nav-title">Admin Contact</li>
    <li class="c-sidebar-nav-item px-3 c-d-compact-none c-d-minimized-none">
      <div class="mb-1"><small>yashawantatul.man@ccsadvancetech.co.th</small></div>
      <div class="mb-1"><small>Monthon@ccsgroups.co.th</small></div>
      <div class="mb-1"><small>warissara@ccsadvancetech.co.th</small></div>
      <div class="mb-1"><small>natthaphit.kre@ccsadvancetech.co.th</small></div>
    </li>
  </ul>
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>
</div>
