.bg-yellowgreen {
    background-color:#9dd04d;
    color:white;
}
.text-yellowgreen {
    color:#9dd04d;
}
.bg-darkslategray {
    background-color:#30475e;
    color:white;
}
.bg-lavender {
    background-color:#dbf2f2;
    color:black;
}
.bg-plum {
    background-color:#b691ff;
    color:white;
}
.text-plum {
    color:#b691ff;
}
.text-palegoldenrod {
  color:#dfffad;
}
.my-btn {
  width: 90px;
}
.my-radio {
  width: 18px;
  height: 18px;
}
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  20% { opacity: 0.2; }
  40% { opacity: 0.4; }
  60% { opacity: 0.6; }
  80% { opacity: 0.8; }
  100% { opacity: 1; }
}

.rotate:hover {
  animation: rotation 1s .5s linear 3;
}

@keyframes rotation {
  0% {
   transform: rotate(0);
 }
 100% {
   transform: rotate(-360deg);
 }
}

.ui-widget-info { position:relative; display:inline-block; width:90px; height:90px; border:15px solid #3399ff; border-radius:150px; text-align:center; font-family: Arial, sans-serif; }
.ui-widget-warning { position:relative; display:inline-block; width:90px; height:90px; border:15px solid #f9b115; border-radius:150px; text-align:center; font-family: Arial, sans-serif; }
.ui-widget-success { position:relative; display:inline-block; width:90px; height:90px; border:15px solid #2eb85c; border-radius:150px; text-align:center; font-family: Arial, sans-serif; }
.ui-widget-danger { position:relative; display:inline-block; width:90px; height:90px; border:15px solid #e55353; border-radius:150px; text-align:center; font-family: Arial, sans-serif; }
.ui-value { position:absolute; left:0; right:0; top:18px; font-size:20px; }
.ui-label { position:absolute; left:0; bottom:-35px; width:100%; text-transform:uppercase; font-size:10px; color:#888; font-weight:600 }
